<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="SwagLabsDemo.TestComponants.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="End To End test">
        <classes>
            <class name="SwagLabsDemo.Tests.EndToEndTest"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Login Error Validations Test">
        <classes>
            <class name="SwagLabsDemo.Tests.LoginErrorValidationsTest"></class>
        </classes>
        </test>
    <test verbose="2" preserve-order="true" name="Add to cart test">
        <classes>
            <class name="SwagLabsDemo.Tests.AddToCartTest"></class>
        </classes>
        </test>
    <test verbose="2" preserve-order="true" name="Order Overview Test">
        <classes>
            <class name="SwagLabsDemo.Tests.ProductOverViewTest"></class>
        </classes>
        </test>
        <test verbose="2" preserve-order="true" name="Order Confirmation test">
         <classes>
             <class name="SwagLabsDemo.Tests.ConfirmationTest"></class>
         </classes>
     </test>
     <test name="Information Error Validation">
         <classes>
             <class name="SwagLabsDemo.Tests.CheckoutInformationErrorValidations"></class>
         </classes>
     </test>
    <test name="Remove Iteme from cart">
        <classes>
            <class name="SwagLabsDemo.Tests.RemoveProductFromCartTest"></class>
        </classes>
    </test>
    <test name="Successfully Logout">
        <classes>
            <class name="SwagLabsDemo.Tests.LogoutSuccessfullyTest"></class>
        </classes>
    </test>
    <test name="Successfully Cancellation">
        <classes>
            <class name="SwagLabsDemo.Tests.CancelOrderTest"></class>
        </classes>
    </test>
    <test name="Empty cart test">
        <classes>
            <class name="SwagLabsDemo.Tests.CartErrorValidationTest"></class>
        </classes>
    </test>
</suite>